extends layout.pug
block content
  div.form-container
    h2 Create an Account
    form(method="post" action="/signup" enctype="multipart/form-data")
      div.form-field
        label(for="name") Your Name
        input(type="text" name="name")
      div.form-field
        label(for="email") Email
        input(type="email" name="email")
      div.form-field
        label(for="password") Password
        input(type="password" name="password")
      div.form-field
          input(type="file" name="avatar" accept="image/*")
      div.form-submit
        input(type="submit" value="Signup")
    div
      a(href="./login") Have an account? Login here
