extends layout.pug
block content
  div.form-container
    form(method="post" action="/signup")
      div.form-field
        label(for="username") Username
        input(type="text" name="username")
      div.form-field
        label(for="email") Email
        input(type="text" name="email")
      div.form-field
        label(for="password") Password
        input(type="text" name="password")
      div.form-submit
        input(type="submit" value="Signup")
