.form-container {
  max-width: 30vw;
  padding: 4vw;
  margin: 0 auto;
}

.form-field {
  margin: 15px 0;
}

.form-field label {
  display: block;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: none;
  background: #efefef;
  margin-top: 5px;
  border-radius: 2px;
}
